@import url('./FontFace.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: #20123A;
    color: #693BCC;
    color: #CB1F9C;
    color: #F35F1C;
}

/*
Hex Color Codes


*/